:root {
	--background-image: url('/Imagens/fundo2.jpg') no-repeat right center fixed;
	--background: radial-gradient(circle, rgba(195,161,34,1) 0%, rgba(238,228,185,1) 100%);
	--font-family: "Comic Sans MS";
	--text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77, 0, 38, 0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77, 0, 13, 0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77, 25, 0, 0.5), 9px 0 18px #FFD500, 11px 0 18px #806A00, 12px 2px 18px rgba(77, 66, 0, 0.5), 12px 0 30px #D4FF00, 14px 0 30px #6A8000, 15px 2px 30px rgba(64, 77, 0, 0.5), 15px 0 45px #80FF00, 17px 0 45px #408000, 17px 2px 45px rgba(38, 77, 0, 0.5);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.body-container {
	background: var(--background-image);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;  //100% da altura da tela
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 20px;
	border-bottom: 2px solid black;
	background: var(--background);
	z-index: 1000;
}
  
.cabecalho {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 940px;
	margin: 35px auto; /* Adicionei auto para centralizar o cabeçalho horizontalmente */
}
  
#banner {
	width: 35%; /* Ajuste a largura da imagem conforme necessário */
}
  
.titulo-principal {
	font-size: 40px;
	font-weight: bold;
	text-shadow: 10px 12px 13px rgba(0, 0, 0, 0.9);
	color: #ffff;
}

.main-container {
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
	align-content: center;
	margin-top: 50px;
	background: var(--background-image);
	background-size: cover;
	width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

fieldset,
form label {
	display: flex;
	justify-content: center;
	border: none;
	font-family: var(--font-family);
	letter-spacing: 3px;
	color: #A7DD3C;
	text-shadow: var(--text-shadow);
}

fieldset legend {
	font-size: 25px;
	font-family: var(--font-family);
}

.input-padrao,
legend {
	margin: 0 auto;
	padding: 10px;
	border-radius: 10px;
}

.input-padrao::placeholder {
	color: red;
	font-weight: bold;
}

.enviar-container button {
	flex-direction: row;
	align-items: center;
}

.enviar {
	margin: 10PX;
	padding: 10px;
	width: 20%;
	border: 1px solid black;
	background-color: #db600f;
	font-size: 18px;
	font-family: var(--font-family);
	border-radius: 15px;
	cursor: pointer;
}

.enviar-container .enviar {
	display: inline-block;
  	width: auto;
	background-color: #ddb617;
	color: black;
}

.enviar-container .colar {
	display: inline-block;
  	width: auto;
	padding: 5px;
	font-size: 16px;
	font-family: var(--font-family);
	border-radius: 15px;
	cursor: pointer;
	background-color: orange;
	color: black;
	border: 1px solid black;
}

.enviar:hover {
	background-color: lightskyblue;
}

.enviar:active {
	background-color: lightseagreen;
}

.opcao-container {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 8px;
	font-size: 18px;
	font-family: var(--font-family);
	border-radius: 15px;
}

.opcao {
	margin: auto;
	padding: 5px;
	border: 1px solid black;
	background-color: #c3a122;
	font-size: 18px;
	font-family: var(--font-family);
	border-radius: 15px;
	cursor: pointer;
}

.opcao-container .opcao:hover {
	background: green;
	transform: scale(1.2);
}

.opcao-container .opcao:active {
	background-color: lightseagreen;
}

footer {
	background: var(--background-image);
	background-size: cover;
	font-size: 15px;
	text-align: center;
	padding: 20px 0;
	border: none;
	color: rgb(0, 0, 0);
	font-weight: bold;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.redes {
	margin: 15px;
	padding: 0 10px;
}

a {
	margin: 20px;
	cursor: pointer;
	text-decoration: underline;
}


@media screen and (max-width: 480px) {

	.container,
	img,
	.titulo-principal,
	.main-container,
	.opcao-container,
	.opcao {
		width: auto;
	}

	#texto-principal,
	#texto-resultado {
		width: 100%;
	}

	.cabecalho {
		margin: 5px 20px;
	}

	h1 {
		position: static;
	}

	.titulo-principal {
		position: static;
		margin: 20px auto;
		font-size: 26px;
	}

	.input-padrao {
		padding: 0;
	}
}